body {
	background-color: #B5B5B5;
	overflow: hidden;
	-webkit-animation: wall 10s infinite ease-in-out;
	        animation: wall 10s infinite ease-in-out;
	animation: wall 10s infinite ease-in-out;

}

.container {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 40%;
    left: 40%;
    margin: -150px;
}

.box {
  height: 95%;
  width: 95%;
  background: #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50%;
}

.fill { 
  background: #F76D3C;  
  -webkit-animation: rotate 10s infinite ease-in-out;  
          animation: rotate 10s infinite ease-in-out; 
}

@-webkit-keyframes rotate{
	0% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
  		background: #F76D3C;
  	}

  	25% {
  		-webkit-transform: rotate(240deg);
  		        transform: rotate(240deg);
  		background: #98CB4A;
  	}

  	50% { 
		-webkit-transform: rotate(180deg); 
		        transform: rotate(180deg);
		background: #2CA8C2; 
	}
	
	75% {
		-webkit-transform: rotate(90deg);
		        transform: rotate(90deg);
		background: #913CCD; 

	}

	100% {
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		background: #F7D842;

	}	
}

@keyframes rotate{
	0% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
  		background: #F76D3C;
  	}


  	25% {
  		-webkit-transform: rotate(240deg);
  		        transform: rotate(240deg);
  		background: #98CB4A;
  	}

  	50% { 
		-webkit-transform: rotate(180deg); 
		        transform: rotate(180deg);
		background: #2CA8C2; 
  	}
	
	75% {
		-webkit-transform: rotate(90deg);
		        transform: rotate(90deg);
		background: #913CCD; 

  	}

	100% {
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		background: #F7D842;

  	}	
}

@-webkit-keyframes wall {
	0% {
		background-color: #B5B5B5;
	}

	50% {
		background-color: #828282;
	}

	100% {
		background-color: #363636;
	}
}

@keyframes wall {
	0% {
		background-color: #B5B5B5;
	}

	50% {
		background-color: #828282;
	}

	100% {
		background-color: #363636;
	}
}
